<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{register.title}">Register User</title>
</head>
<body>
    <div>
        <a href="?lang=en">EN</a> | <a href="?lang=ru">RU</a>
    </div>

    <h1 th:text="#{register.title}"> Register </h1>
    <form th:action="@{/users/register}" th:method="post" th:object="${sessionInfoService}" style="max-width: 400px;">
        <div style="margin-bottom: 10px;">
            <label for="name" th:text="#{register.name}">Name:</label>
            <input type="text" id="name" th:field="*{username}" required>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:style="'color:red'"></span>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="email" th:text="#{register.email}">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:style="'color:red'"></span>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="password" th:text="#{register.password}">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:style="'color:red'"></span>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="telegram" th:text="#{register.telegram}">Telegram:</label>
            <input type="text" id="telegram" th:field="*{telegram}">
        </div>
        <div style="margin-bottom: 10px;">
            <label for="phone" th:text="#{register.phone}">Phone number:</label>
            <input type="text" id="phone" th:field="*{phone}">
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:style="'color:red'"></span>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="address" th:text="#{register.address}">Address:</label>
            <input type="text" id="address" th:field="*{address}">
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:style="'color:red'"></span>
        </div>
        <button type="submit" th:text="#{register.submit}">Register</button>
    </form>
    <p th:text="#{register.already_registered}">Already registered?</p>
    <a th:href="@{/users/login}">
        <button type="button" th:text="#{register.login}">LogIn</button>
    </a>
</body>
</html>